<div class="contenido">
  <div class="hero min-h-fit bg-base-200">
      <div class="hero-content text-center">
        <div class="foto">
          <div class="avatar online">
            <div class="w-24 rounded-full">
              <img src="../../assets/images/profile.jpg" />
            </div>
          </div>
        </div>
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Felipe Osorio Slier</h1>
          <br>
            <i class="fas fa-graduation-cap mr-2 text-lg text-gray-500"></i>Analista Programador - Duoc UC
            <br>
            <i class="fas fa-map-marker-alt mr-2 text-lg text-gray-500"></i>Santiago, Chile
          <p class="py-8">Estudiante trabajador en busca de empleo. Preparado para utilizar mis habilidades y pasión 
            para impulsar la misión de una compañía.Tecnológicamente hábil, ofrezco experiencia con plataformas de medios sociales, programas de 
            tecnología de oficina y habilidades informáticas. Aporto una actitud positiva y la voluntad y motivación para aprender nuevas tecnologias.</p>
          <button class="btn btn-accent">Contactar</button>
        </div>
      </div>
  </div>
</div>