<div class="grid place-items-center space-y-8">
  <div class="item w-auto h-auto">
    <div class="item card w-96 bg-base-200 shadow-xl image-full">
    <figure><img src="https://wallpaperaccess.com/full/1915194.jpg" alt="AnimeTracker" /></figure>
    <div class="card-body">
      <h2 class="card-title text-orange-500">Anime Tracker</h2>
      <p class="font-semibold">Tracker de Anime desarrollado en Angular.</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Ver Más</button>
      </div>
    </div>
  </div></div>
  <div class="item w-auto h-auto">
    <div class="item card w-96 bg-base-200 shadow-xl image-full">
      <figure><img src="https://images.raidboxes.io/raidboxes.io/uploads/2018/06/woocommerce-hosting.jpg" alt="AnimeTracker" /></figure>
      <div class="card-body">
        <h2 class="card-title text-orange-500">Tienda Ropa de Casa</h2>
        <p class="font-semibold">E-Ccomerce con Wordpress intregración de precios por comuna y pasarela de pago.</p>
        <div class="card-actions justify-end">
          <a href="https://calordehogar.cl/" target="_blank">
            <button class="btn btn-primary">Ver Más</button>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>